.artistImg {
    margin: 20px;
    border-radius: 320px;
    border-style: ridge;
    
}

.albumImg {
    max-width: 80px;
    display: flexbox;
    border-radius: 40px;
}

.albumClass {
    margin: 4px;
    display: flexbox;
    border-color: black;
    padding: 8px;
    flex-wrap: wrap;
    max-width: 100px;
}